@charset 'utf-8';
  


/* reset css */
*{
margin: 0;
border: none;
padding: 0;
}

a{
color:#000000;
text-decoration: none;
}

ol,ul,li{
list-style: none;
}

img{
vertical-align:top;
}

.clearfix::after{
content: '';
display: block;
}

/* 디폴트 */
body{
font-family: 'Noto Sans KR';
}

body,div,span,ul,li,
section,header,footer,article,
a,p,h1,h2,h3,h4,h5,h6,input,button,select{
font-size:14px;
font-weight:400;
line-height:1em;
color: #333;
box-sizing:border-box;
}

.eng{
font-family: 'Roboto';
}

.wrap{
width:640px;
box-sizing:border-box
}

.content{
margin:0 12px;
}

/* header 시작 */
.header{
background-color:#fff;
}

.header .content{
display: flex;
flex-flow:row nowrap;
justify-content: space-between;
align-items:center;
height:70px;
}

.main_logo>img{
width:32px;
height:32px;
margin-right:6px;
}

.main_logo>h1{
display: inline-block;
font-weight:900;
font-size:24px;
color:#0e347e;
margin-top:5px;
}

.btn_nav{
height:24px;
}

.btn_nav>li{
width:32px;
height:4px;
border-radius:2px;
background-color:#000;
}

.btn_nav>li:nth-of-type(2){
margin:6px 0;
}
/* header 끝 */

/* main_banner 시작 */
/* bx-slider 시작 */
.bx-wrapper {
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
border:none;
}

.bx-controls-direction{
display:none;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
bottom: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus{
background-color:#ffe600;
}

.bx-wrapper .bx-pager.bx-default-pager a{
background-color: #fff;
}
/* bx-slider 끝 */
.main_banner{
  height:200px;
  overflow: hidden;
}

.main_banner>img{
  height:100%;
}
/* main_banner 끝 */

/* section 시작 */
/* coffee_story */
.coffee_story{
height:285px;
overflow: hidden;
position: relative;
}

.coffee_story>img{
height:100%;
transform: translateX(-40%);
}

.coffee_story>.coffee_story_txt{
position: absolute;
top:25px;
left:0;
}
.coffee_story>.coffee_story_txt>p:nth-of-type(1){
font-weight:bold;
font-size:18px;
color:#564e00;
}

.coffee_story>.coffee_story_txt>h1{
font-weight: 900;
font-size:56px;
color: #0e347e;
margin:10px 0;
}

.coffee_story>.coffee_story_txt>p:nth-of-type(2){
font-weight:bold;
font-size:14px;
color:#202020;
}
/* coffee_story */

.sec{
height:342px;
margin-bottom:10px;
overflow: hidden;
position: relative;
}

.sec>img{
height:100%;
}

.sec>.sec_txt{
position: absolute;
top:25px;
}

.sec>.sec_txt>h2{
font-weight:900;
font-size:24px;
line-height:24px;
}

.free_coffee>.sec_txt>h2{
color:#6b4d30;
border-bottom: 2px solid #6b4d30;
}

.various_beverage>.sec_txt>h2{
color:#93a03d;
border-bottom: 2px solid #93a03d;
}

.sweet_paik>.sec_txt>h2{
color:#f1ae1d;
border-bottom: 2px solid #f1ae1d;
}

.tasty_ice_cream>.sec_txt>h2{
color:#f1ae1d;
border-bottom: 2px solid #f1ae1d;
}

/* franchise_store */
.franchise_store{
height:291px;
}

.franchise_store>div{
width:302px;
height:291px;
padding:12px 0 0 15px;
border:2px solid #0e347e;
position: relative;
}

.franchise_store h3{
font-weight:900;
font-size:34px;
color: #0e347e;
}

.franchise_store p{
font-weight:500;
font-size:14px;
color:#202020;
}

.franchise_store .fra{
float: left;
}

.franchise_store .fra>img{
width:100%;
right:0;
bottom:0;
position: absolute;
}

.franchise_store .store{
float: right;
}

.franchise_store .store>form{
position: absolute;
left:30px;
bottom:20px;
}

.franchise_store .store>form>input{
width:236px;
height:34px;
border: 2px solid #0e347e;
padding: 10px;
}

.franchise_store .store>form>img{
position: absolute;
transform: translateX(-50%);
right:-3px;
bottom:7px;
}
/* franchise_store */

/* sns */
.sns{
height:341px;
padding:90px 0;
border-bottom:1px solid #f1ae1d;
}
.sns>h2{
font-weight:bold;
font-size:30px;
color:#202020;
text-align: center;
}

.sns>ul{
text-align: center;
margin-top:20px;
}

.sns>ul>li{
font-weight: bold;
font-size:14px;
color: #999;
display: inline-block;
margin:0 10px;
}

.sns>hr{
width:96px;
height:1px;
background-color: #0e347e;
margin:30px auto;
}

.sns>.sns_icon{
text-align: center;
}

.sns img{
 width:32px;
 height:32px;
 margin:0 16px;
}
/* sns */
/* section 끝 */

/* footer 시작 */
.footer{
height:409px;
padding:30px 0;
}

.footer>.ft_logo{
text-align:center;
}

.footer img{
width:179px;
}

.footer li:first-child{
text-align:center;
margin:30px;
font-weight:500;
font-size:16px;
line-height:27px;
color: #202020;
}

.footer li:last-child{
text-align:center;
font-weight:bold;
font-size:16px;
color: #202020;
}
/* footer 끝 */
